<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Codazon\ProductFilter\Block\Product\ProductsList">
        <plugin name="silk_productfilter_block_product_productslist" type="Silk\ProductFilter\Plugin\Block\Codazon\ProductFilter\Product\ProductsList" sortOrder="1" disabled="false" />
    </type>
</config>
