<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="controller_action_predispatch_ajaxcartpro_cart_add">
    <observer name="prevent_bsv_ajaxcartpro_cart_add" instance="Epicor\Comm\Observer\CheckBsvRestricted"/>
  </event>
</config>
